* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: -1;
}

.wave-img1 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    z-index: -1;
}

input {
    width: 200px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
    background-color: rgb(204, 204, 204);
    margin-top: 10px;
    letter-spacing: 2px;
    color: white;
    font-size: 15px;
}

::placeholder {
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    margin-bottom: 150px;
    margin-top: 60px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

section {
    color: white;
}

main section h1 {
    font-size: 60px;
    font-weight: 900;
}

main section h3 {
    margin: 15px 0;
}

.home-right {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.icontype1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    width: 50px;
    height: 50px;
    margin-right: 200px;
    border-radius: 100%;
}

ion-icon {
    font-size: 30px;
}

.icontype2 {
    background-color: white;
    fill: green;
    color: white;
    width: 55px;
    height: 55px;
    margin-right: 200px;
    border-radius: 100%;
}

p {
    margin: 15px auto;
}

button {
    width: 32%;
    height: 20%;
    font-size: x-large;
    background-color: green;
    color: white;
    border-radius: 12px;
}

.home-right li {
    margin-bottom: 50px;
    margin-right: 30px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-right li a:hover {
    border-bottom: 2px solid rgb(77, 223, 77);
}

.home-right li a {
    color: black;
}